In [10]:
import pandas as pd
import plotly.express as px
import json
import plotly.graph_objects as go

# Read in the data

df_int = pd.read_csv("data/share-of-individuals-using-the-internet.csv")
df_int.head()

        Entity Code  Year  Individuals using the Internet (% of population)
0  Afghanistan  AFG  1990                                               0.0
1  Afghanistan  AFG  1991                                               0.0
2  Afghanistan  AFG  1992                                               0.0
3  Afghanistan  AFG  1993                                               0.0
4  Afghanistan  AFG  1994                                               0.0

In [11]:
# Select data from the most recent YEAR for each COUNTRY

countries = []
mr_year = []

for grp, df in df_int.groupby("Code"):
    countries.append(grp)
    #print("GRP:", grp)
    mr_year.append(df["Year"].max())
    #print("YEAR:", df["Year"].max())

df_years = pd.DataFrame({"Code": countries, "most_recent_year": mr_year})

df_rec = pd.merge(df_years, df_int)
df_rec = df_rec[df_rec["Year"]==df_rec["most_recent_year"]]
df_rec.head()

,Code,most_recent_year,Entity,Year,Individuals using the Internet (% of population)
25,ABW,2017,Aruba,2017,97.170000
47,AFG,2017,Afghanistan,2017,11.447688
75,AGO,2017,Angola,2017,14.339079
104,ALB,2019,Albania,2019,69.642855
131,AND,2017,Andorra,2017,91.567467

In [16]:
df_rec.rename(columns = {"Individuals using the Internet (% of population)": "Percentage", "Entity": "Country"}, inplace = True)
df_rec.head()

    Code  most_recent_year      Country  Year  Percentage
25   ABW              2017        Aruba  2017   97.170000
47   AFG              2017  Afghanistan  2017   11.447688
75   AGO              2017       Angola  2017   14.339079
104  ALB              2019      Albania  2019   69.642855
131  AND              2017      Andorra  2017   91.567467

In [17]:
def cplot(df):
    fig = go.Figure(data=go.Choropleth(
        locations=df['Code'],
        z=df['Percentage'],
        colorscale='ice',

        text=df['Country'],  # hover text
        marker_line_color='white',  # line markers between states
        colorbar_title="% Pop.", marker_line_width=0)
    )

    #fig.update_layout(title_text='World wide web usage,')
    fig.update_layout(margin=dict(l=50, r=50, t=50, b=50), height=640,
                      plot_bgcolor="#0e1117",
                      paper_bgcolor="#0e1117",
                      font_color="white",
                      geo_bgcolor="#0e1117",
                      )
    fig.update_geos(showlakes=False,
                    projection_type="orthographic",
                    projection_rotation=dict(lon=10, lat=45, roll=0),
                    )
    #fig.update_traces(unselected_marker_opacity=0.5, selector=dict(type='choropleth'))
    title='Im a title'
    description = 'Example description'
    key='inetusage'
    lib = 'plotly_go'
    info_dict=dict(title=title, description=description, lib=lib)
    return (key,fig,info_dict)

In [18]:
cplot(df_rec)

('inetusage',
 Figure({
     'data': [{'colorbar': {'title': {'text': '% Pop.'}},
               'colorscale': [[0.0, 'rgb(3, 5, 18)'], [0.09090909090909091,
                              'rgb(25, 25, 51)'], [0.18181818181818182, 'rgb(44, 42,
                              87)'], [0.2727272727272727, 'rgb(58, 60, 125)'],
                              [0.36363636363636365, 'rgb(62, 83, 160)'],
                              [0.45454545454545453, 'rgb(62, 109, 178)'],
                              [0.5454545454545454, 'rgb(72, 134, 187)'],
                              [0.6363636363636364, 'rgb(89, 159, 196)'],
                              [0.7272727272727273, 'rgb(114, 184, 205)'],
                              [0.8181818181818182, 'rgb(149, 207, 216)'],
                              [0.9090909090909091, 'rgb(192, 229, 232)'], [1.0,
                              'rgb(234, 252, 253)']],
               'locations': array(['ABW', 'AFG', 'AGO', ..., 'ZAF', 'ZMB', 'ZWE'], dtype=object),
               'marker': {'line': {'color': 'white', 'width': 0}},
               'text': array(['Aruba', 'Afghanistan', 'Angola', ..., 'South Africa', 'Zambia',
                              'Zimbabwe'], dtype=object),
               'type': 'choropleth',
               'z': array([97.17      , 11.44768809, 14.33907936, ..., 56.16739447, 14.2999971 ,
                           27.05548769])}],
     'layout': {'font': {'color': 'white'},
                'geo': {'bgcolor': '#0e1117',
                        'projection': {'rotation': {'lat': 45, 'lon': 10, 'roll': 0}, 'type': 'orthographic'},
                        'showlakes': False},
                'height': 640,
                'margin': {'b': 50, 'l': 50, 'r': 50, 't': 50},
                'paper_bgcolor': '#0e1117',
                'plot_bgcolor': '#0e1117',
                'template': '...'}
 }),
 {'title': 'Im a title',
  'description': 'Example description',
  'lib': 'plotly_go'})